[Unit]
Description=Prometheus Varnish Exporter (varnish_exporter) via ansible role
Documentation=https://mat-alm-1.materna-com.de/kpi/ansible/roles/basic_exporter
After=network.target varnish.service

[Service]
User={{ prometheus_user }}
Group=varnish

Environment=GOGC=40
Environment=GOMAXPROCS=1

{% if prometheus_varnish_exporter_opts is defined %}
ExecStart={{ prometheus_install_path }}/varnish_exporter {{ prometheus_varnish_exporter_opts }}
{% else %}
ExecStart={{ prometheus_install_path }}/varnish_exporter
{% endif %}

Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
